record(ai,"$(Sys)$(Dev)AI:Ch$(CHAN)-I")
{
	field(DTYP, "EL30XX")
	field(EGU, "$(EGU=V)")
	field(DESC, "$(DESC=Analog Input Ch$(CHAN))")
	field(SCAN, "I/O Intr")
	field(PREC, "$(PREC=3)")
	field(ESLO, "$(ESLO=0.0003051850947599719)")
	field(EOFF, "$(EOFF=0)")
	field(EGUF, "$(EGUF=10)")
	field(EGUL, "$(EGUL=0)")
	field(LINR, "$(LINR=SLOPE)")
	field(ADEL, "$(ADEL=0)")
	field(MDEL, "$(MDEL=0)")
	field(INP, "@device=$(DEVICE),pos=$(POS),channel=$(CHAN),type=EL3068")
	info(autosaveFields_pass0, "DESC")
}
