record(ao,"$(Sys)$(Dev)AO:Ch$(CHAN)-SP")
{
	field(DTYP, "EL40XX")
	field(DESC, "$(DESC=Analog Output Ch$(CHAN))")
	field(EGU, "$(EGU=V)")
	field(PREC, "$(PREC=3)")
#	field(ESLO, "$(ESLO=0.00030518043793392844)")
	field(ESLO, "$(ESLO=0.00030518509475997192)")
	field(EOFF, "$(EOFF=0)")
	field(EGUF, "$(EGUF=10)")
	field(EGUL, "$(EGUL=-10)")
	field(DRVH, "$(EGUF=10)")
	field(DRVL, "$(EGUL=-10)")
	field(LINR, "$(LINR=SLOPE)")
	field(ADEL, "$(ADEL=0)")
	field(MDEL, "$(MDEL=0)")
	field(OUT, "@device=$(DEVICE),pos=$(POS),channel=$(CHAN),type=EL4038")
	info(autosaveFields_pass0, "DESC VAL")
}
